// main: style.less

html {
    font-size: 20px;
    color: #FFFFFF;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    
    font-weight: 400;
    
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 85px;
    
    background-color: #A8A6A1;
}

*,
*:before,
*:after {
    //border: 1px solid black;

    box-sizing: border-box;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1, h2, h3, h4, h5, h6, a, li, p {
    width: fit-content;
    margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    color: inherit;
    text-decoration: none;
}

li, ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all .1s ease-in-out;

    &::after {
        content: '';
        display: block;
        position: relative;

        margin: 0 auto;

        height: 2px;
        width: 0;
        background-color: #FFFFFF;
    }

    &:hover {
        transform: scale(1.05);
        // &::after {
        //     width: 100%;
        // }
    }
}

main {
    width: 100%;
    margin-bottom: 100px;
}

// Custom

.container {
    width: 100%;
    max-width: 1333px;
    padding: 0 1rem;
    margin: 0 auto;
}

img {
    pointer-events: none;
    object-fit: cover;
}

h2 {
    font-family: "Montserrat Alternates", serif;
    font-weight: 500;
    font-size: inherit;
}

p {
    font-family: inherit;
    font-weight: 400;
    font-size: inherit;
}

// Buttons

.button {
    width: fit-content;
    font-size: 1rem;
    border: none;
    color: #FFFFFF;
    padding: 1.1rem 2.6rem;
    font-family: "Montserrat Alternates", serif;

    &--inf {
        font-size: 1.2rem;
        font-weight: 400;
        background-color: rgba(115, 137, 169, 0.2);
        
        &::after {
            content: 'р';
            display: inline-block;
            left: -20px;
        }
    }

    &--tru {
        font-weight: 500;
        background-color: #7389A9;
        transition: all .1s ease-in-out;
        
        &:hover {
            transform: scale(1.05);
        }
    }

    &--fls {
        font-weight: 500;
        background-color: #313131;
    }

    &--snd {
        font-weight: 500;
        background-color: #59554C;
    }
}